<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>19.5.1.14</title>

  <!-- CDNs -->
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' media='screen' title='no title' type='text/css' />
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' media='screen' title='no title' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:200,400,500|Raleway:200,300,300i,400,400i,700,700i' rel='stylesheet'>

  <!-- JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' charset='utf-8'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' charset='utf-8' async></script>
  <script src='/assets/js/particles.min.js' charset='utf-8' async></script>
  <script src='/assets/js/script.js' charset='utf-8' async></script>

  <!-- CSS -->
  <link href='/assets/css/style.css' rel='stylesheet' type='text/css' />

  <!-- Icons -->
  <link rel='apple-touch-icon-precomposed' sizes='144x144' href='/assets/images/apple-icon-144x144.png'>
  <link rel='shortcut icon' href='/assets/images/favicon.ico'>
</head>
