@import "variables";
#about {
    font-size: 22px;
    margin-top: $margin-top;
    margin-bottom: $margin-top - 50px;
    font-weight: 300;
    .title {
        font-size: 64px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .contact-me {
        margin-top: 20px;
    }
}