$margin-top: 120px;
$transition-hero: all 1s steps(6, end);

$color-hero: #77dd77;
$color-hero-alternative: #ff6961;

$color-white: #fff;

$color-black: #000;
$color-black-light: lighten($color-black, 15%);
$color-black-lighter: lighten($color-black, 20%);

$color-gray: #ccc;
$color-gray-light: lighten($color-gray, 15%);
$color-gray-dark: darken($color-gray, 15%);
$color-gray-darker: darken($color-gray, 30%);
$color-gray-darkest: darken($color-gray, 45%);