---
---

@import "variables";
@import "mixins";
@import "base";
@import "about";

#main {
    min-height: 100vh;
    background-color: $color-hero;
}

.inverse-highlight {
    // background-color: $color-black;
    // color: $color-white;
    font-weight: 500;
    // padding: 2px 8px;
}