---
---

@import "variables";
@import "mixins";
@import "base";
@import "about";

#main {
    min-height: 100vh;
    // background-color: #3EE8A9;
    background-color: #42F3B2;
}

.inverse-highlight {
    // background-color: black;
    // color: white;
    font-weight: 500;
    // padding: 2px 8px;
}